Repository seatpilotapp/seatpilot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seatpilotapp/design, @seatpilotapp/platform, @seatpilotapp/frontend, @seatpilotapp/backend, @seatpilotapp/docs

.github/CODEOWNERS:

# Dise√±o / Brand
brand/**            @seatpilotapp/design

# SQL y Supabase
supabase/sql/**     @seatpilotapp/platform

# Frontend apps
apps/**             @seatpilotapp/frontend

# Servicios backend
services/**         @seatpilotapp/backend

# Handoffs, ADRs y Docs
docs/**             @seatpilotapp/docs

chore(ci): trigger workflows
  apps/.ci-trigger
  brand/.ci-trigger
  supabase/sql/.ci-trigger
Owners: @seatpilotapp/frontend, @seatpilotapp/design, @seatpilotapp/platform

chore(ci): trigger brand workflow
  brand/icons/.ci-trigger
Owners: @seatpilotapp/design

chore(ci): stabilize brand lint, a11y/pwa checks, SQL CI
  .github/workflows/supabase-sql-ci.yml
  .pa11yci.json
  apps/.ci-trigger
  brand/.ci-trigger
  brand/icons/.ci-trigger
  package.json
  pnpm-lock.yaml
  scripts/brand/validate-icons.js
  scripts/ci/check-lighthouse-pwa.js
  scripts/ci/serve-stub.js
  supabase/sql/.ci-trigger
Owners: @seatpilotapp/frontend, @seatpilotapp/design, @seatpilotapp/platform

chore(ci): refresh pnpm lockfile
  pnpm-lock.yaml
Owners: none

chore(ci): regenerate lockfile from clean tree
  pnpm-lock.yaml
Owners: none

chore(ci): allow manual trigger for brand lint
  .github/workflows/brand.yml
Owners: none

fix(ci): run lighthouse with headless=new
  scripts/ci/check-lighthouse-pwa.js
Owners: none

fix(ci): support lighthouse LHR wrapper
  scripts/ci/check-lighthouse-pwa.js
Owners: none

chore(ci): skip PWA threshold when category missing
  scripts/ci/check-lighthouse-pwa.js
Owners: none

chore(ci): skip SQL smoke when schema absent
  .github/workflows/supabase-sql-ci.yml
Owners: none

chore(ci): run lint/a11y/sql workflows on every PR
  .github/workflows/brand.yml
  .github/workflows/fe-a11y-offline.yml
  .github/workflows/supabase-sql-ci.yml
Owners: none

chore(devops): add self-contained metrics compose stack
  docker-compose.metrics.local.yml
  docs/runbooks/metrics_local_stack.md
  infra/local-metrics/grafana/provisioning/dashboards/seatpilot.yml
  infra/local-metrics/grafana/provisioning/datasources/prometheus.yml
  infra/local-metrics/initdb.d/000_bootstrap.sql
Owners: @seatpilotapp/docs

chore(metrics): fix local stack roles and ports
  docker-compose.metrics.local.yml
  infra/local-metrics/initdb.d/000_bootstrap.sql
  supabase/sql/002_policies_rls.sql
Owners: @seatpilotapp/platform

chore(metrics): tweak fixture command and grafana port
  docker-compose.metrics.local.yml
Owners: none

docs: add local metrics stack references
  docs/history/2025-10-18_fase0_status.md
  docs/prometheus.md
Owners: @seatpilotapp/docs
